* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  flex-direction: column;
}

input {
  border: 0;
  outline: none;
  background: transparent;
}

header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Nosifer", cursive;
  font-size: 4rem;
  margin: 0;
  padding: 0.5em;
}

.palette {
  height: 5em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.color-input {
  cursor: pointer;
  border: none;

  padding: 0;
  margin: 0;
  outline: none;
  appearance: none; /* Supprime les styles par défaut du navigateur , marche pas*/

  background: transparent;
  -webkit-appearance: none; /* Réinitialise l'apparence sur WebKit (Chrome, Safari)  marche pas*/
  -moz-appearance: none; /* Réinitialise l'apparence sur Firefox marche pas */
}

main {
  flex-grow: 1;
}

.container {
  display: flex;
  padding: 3em;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.board-container {
  display: grid;
  background-color: rgb(255, 255, 255);
  width: 40%;
  aspect-ratio: 1;
  border: 1px solid black;
  margin-bottom: 2em;
  margin-right: 25%;
}

.board-boxes {
  background-color: lightgray;
  border: 1px dotted #555555;
  aspect-ratio: 1;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5em;
  margin-right: 2.5em;
}

/* stylisation générale des boutons */

button {
  padding: 0.5em 1.5em;
  width: auto;
  border: none;
  border-radius: 0.2em;
  font-size: 1.6rem;
  color: white;
  background-color: #444;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour la profondeur */
}

button:hover {
  background-color: #555;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Ombre plus forte au survol */
}

button:active {
  transform: translateY(2px); /* Simule un enfoncement du bouton */
}

/*________boutons de la section paint________ */
.paint-buttons-section {
  display: flex;
  gap: 1.5em;
}

.brush-btn,
.eraser-btn {
  padding: 0;
}
.brush-btn img,
.eraser-btn img {
  width: 3em;
  height: 3em;

  /* Pour garantir que l'image garde ses proportions à l'intérieur du carré */
  object-fit: cover;
}

/*________boutons grid__________ */

.grid-select-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: white;
  font-family: "Roboto", sans-serif;
}

.grid-select-group label {
  font-size: 1.6rem;
}

.grid-select-group select {
  padding: 0.5em;
  border-radius: 0.2em;
  border: none;
  background-color: #444;
  color: white;
  font-size: 1.6rem;
  width: 7em;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* bouton clear */
.clear-btn:hover {
  background-color: rgb(156, 3, 3);
}
.glitch-btn {
  height: auto;
  flex: none;
}

/* classes actives des boutons */

.glitch-btn.active {
  border: 3px solid #ffff00;
}

.eraser-btn.active {
  border: 3px solid #ffff00;
}

.brush-btn.active {
  border: 3px solid #ffff00;
}

/* _______________ Média queries, à continuer __________________________ */
@media (max-width: 768px) {
  .board-container {
    width: 88%; /* Par exemple, occuper plus d'espace sur les petits écrans */
  }

  h1 {
    font-size: 3rem;
  }

  .palette {
    flex-wrap: wrap;
  }

  .color-input {
    width: 2em;
  }

  .container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  button {
    font-size: 1.2rem;
  }

  .buttons-section label {
    font-size: 1.2rem;
  }

  .buttons-section select {
    font-size: 1.2rem;
  }
}

/*________________effet glitch___________________________ */

.glitch {
  color: white;
  font-size: 20px;
  text-align: center;
  animation: glitch-animation 0.5s infinite;
  background-color: #000;
}

/* Animation glitch */
@keyframes glitch-animation {
  0% {
    transform: translate(0);
    clip-path: inset(0);
    opacity: 1;
    background-color: #000;
  }
  10% {
    transform: translate(-1px, -5px);
    clip-path: inset(10% 0 20% 0);
    opacity: 0.9;
    background-color: #ff00c1;
  }
  20% {
    transform: translate(3px, 3px);
    clip-path: inset(20% 0 10% 0);
    opacity: 0.5;
    background-color: #00ffff;
  }
  30% {
    transform: translate(-3px, -4px);
    clip-path: inset(0 0 20% 0);
    opacity: 0.8;
  }
  40% {
    transform: translate(2px, 4px);
    clip-path: inset(10% 0 0 0);
    opacity: 0.9;
  }
  50% {
    transform: translate(0, 0);
    clip-path: inset(0);
    opacity: 0.1;
  }
  60% {
    transform: translate(3px, -2px);
    clip-path: inset(0 0 20% 0);
    opacity: 0.9;
  }
  70% {
    transform: translate(-2px, 3px);
    clip-path: inset(10% 0 0 0);
    opacity: 0.8;
  }
  80% {
    transform: translate(2px, 2px);
    clip-path: inset(0 0 20% 0);
    opacity: 0.9;
  }
  100% {
    transform: translate(0);
    clip-path: inset(0);
    opacity: 1;
  }
}
