* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  flex-direction: column;
}

input {
  border: 0; /* Enlève la bordure */
  outline: none; /* Enlève le contour par défaut */
  background: transparent; /* Arrière-plan transparent */
}

header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 3em; */
}

h1 {
  font-family: "Nosifer", cursive;
  font-size: 4rem;
  margin: 0;
  padding: 0.5em;
}

.palette {
  height: 4em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.color-input {
  cursor: pointer;
  border: none;
  /* height: 100%;
  width: 100%; */
  padding: 0;
  margin: 0;
  outline: none;
  appearance: none; /* Supprime les styles par défaut du navigateur , marche pas*/

  background: transparent;
  -webkit-appearance: none; /* Réinitialise l'apparence sur WebKit (Chrome, Safari) */
  -moz-appearance: none; /* Réinitialise l'apparence sur Firefox */
}

main {
  flex-grow: 1;
}

.board-container {
  display: grid;
  background-color: rgb(255, 255, 255);
  width: 45%;
  aspect-ratio: 1;
  border: 1px solid black;
  margin-bottom: 2em;
  margin-left: auto; /* Pousse cet élément vers la droite */
  margin-right: auto;
}

.container {
  display: flex;
  padding: 3em;

  align-items: flex-start;
  width: 100%; 
  height: 100%;
  max-width: 1200px; /* Limite la largeur sur des grands écrans */
}

.board-boxes {
  background-color: lightgray;
  border: 1px dotted #555555;
  aspect-ratio: 1;
}

.buttons-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1em;
  margin-top: 2em;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-left: 5em;
}
.label-select-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7em;
}

.buttons-section label {
  font-size: 1.6rem;
}

.buttons-section select {
  padding: 0.5em;
  border-radius: 0.2em;
  border: none;
  background-color: #444;
  color: white;
  font-size: 1.6rem;
  width: 7em;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button {
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 0.2em;
  font-size: 1.6rem;
  color: white;
  background-color: #444;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour la profondeur */
}

button:hover {
  background-color: #555; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Ombre plus forte au survol */
}

button:active {
  transform: translateY(2px); /* Simule un enfoncement du bouton */
}

.clear-btn:hover {
  background-color: rgb(108, 1, 1);
}

@media (max-width: 768px) {
  .board-container {
    width: 88%; /* Par exemple, occuper plus d'espace sur les petits écrans */
  }

  h1 {
    font-size: 3rem;
  }

  .palette {
    flex-wrap: wrap;
  }

  .color-input {
    /* width: 50%; à ajuster pour garantir 2 éléments par rangée */
    width: 2em; /* Gardez la largeur maximale */
  }

  .container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .buttons-section {
    /* align-items: center;
    justify-content: center; */
  }

  button {
    font-size: 1.2rem;
  }

  .buttons-section label {
    font-size: 1.2rem;
  }

  .buttons-section select {
    font-size: 1.2rem;

  }'
}
